.book-bg {
  width: 100%;
  height: 100%;
}

.book-md {
  width: 100%;
  height: 90%;
}

.book-sm {
  width: 100%;
  height: 80%;
}

.book-flat {
  width: 275%;
  height: 40px;
}

.yellow {
  background-color: #F0EF19;
}

.red {
  background-color: #F45408;
}

.blue {
  background-color: #28BAE9;
}

#book-one {
  grid-column: 1 / 2;
  grid-row: 1 / span 4;
}

#book-two {
  grid-column: 2 / 3;
  grid-row: 1 / span 4;
}

#book-three {
  grid-column: 3 / 4;
  grid-row: 1 / span 4;
}

#book-four {
  grid-column: 4 / 5;
  grid-row: 1 / span 4;
}

#book-five {
  grid-column: 8 / 10;
  grid-row: 2 / span 1;
}

#book-six {
  grid-column: 8 / 10;
  grid-row: 3 / span 1;
}

#book-seven {
  grid-column: 8 / 10;
  grid-row: 4 / span 1;
}

#book-eight {
  grid-column: 5 / 6;
  grid-row: 1 / span 4;
}

#book-nine {
  grid-column: 6 / 7;
  grid-row: 1 / span 4;
}

#book-ten {
  grid-column: 7 / 8;
  grid-row: 1 / span 4;
}

#book-eleven {
  grid-column: 14 / 15;
  grid-row: 1 / span 4;
  transform: rotate(-28deg);
}


.bar {
  width: 600px;
  height: 60px;
  background-color: #A3A19D;
  z-index: 2;
  box-shadow: 3px 3px 5px #222;
  grid-column-start: 1;
  grid-row-start: 5;
}

.book-bg:hover {
  transform: scale(1.05);}

.book-md:hover {
    transform: scale(1.05);}
    
.book-sm:hover {
      transform: scale(1.05);}

      .book-flat:hover {
        transform: scale(1.05);}
#book-eleven:hover {
          transform: scale(1.05);}
  
  
















.text {
  text-align: center;
}

.text h1 {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 72px;
}