p {
    font-family: "montserratregular";
}

body {
    background-color: #383747;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100vh;
  }
  
  .box {
    width: 600px;
    height: 400px;
    position: relative;
    margin: auto;
    background: none;
  }
  
  .book {
    width: 9%;
    height: 45%;
    position: absolute;
    top: 0%;
    z-index: 1;
    box-shadow: 3px 3px 5px #222;
  }
  
  .book:hover {
    transform: scale(1.05);
  }

  .yellow {
    left: 33.5%;
    top: -1%;
    background-color: #F0EF19;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  
  .red {
    left: 45%;
    background-color: #F45408;
  }
  
  .blue {
    left: 57%;
    background-color: #28BAE9;
  }
  
  .white {
    width: 200%;
    height: 20%;
    position: absolute;
    left: -50%;
    top: 23%;
    background-color: #fff;
    transform: rotate(-90deg);
    display: flex;
    align-items: center;
    justify-content: center;
  }


  
  .grey {
    width: 45%;
    height: 15%;
    position: absolute;
    left: 27.5%;
    top: 75%;
    border-radius: 50%;
    background-color: #595554;
  }
  
  .bar {
    width: 75%;
    height: 6%;
    background-color: #A3A19D;
    position: absolute;
    top: 45%;
    left: 12.5%;
    z-index: 2;
    box-shadow: 3px 3px 5px #222;
  }
  
  .text {
    position: absolute;
    display: block;
    margin: auto;
    width: 100%;
    top: 40%;
    text-align: center;
  }
  
  .text h1 {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 72px;
  }