/* Universial */

html {
    font-size: 18px; 
    font-family: Georgia, 'Times New Roman', Times;
    color: gray; 
    box-sizing: border-box;  
}

p, a, h1, h2, h3, h4, h5, h6 {
    color: gray;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Header Desktop */

header {
    height: 64px;
    position: fixed;
    z-index: 1;
    width: 100%;
}

header .content {
    height: 100%;
}

header .mobile {
    display: none;
}

header .logo {
    flex: 1;
    margin-left: 24px;
    height: 32px;
    display: flex;
}

header .logo .text {
    text-transform: uppercase;
    font-size: 26px;
    padding-top:3px;
}

header .logo span {
    color:black;
    font-weight: bold;
}

header nav {
    margin-right: 24px;
}

header nav a {
    padding-left: 16px;
}

/* Header Mobile */

@media only screen and (max-width: 800px) {

header .desktop {
    display: none;
}

header .mobile {
    display: flex;
    justify-content: space-between;
    height: 100%;
    flex: 1;
}

} 



