/* Universial */

html {
    font-size: 18px; 
    font-family: Helvetica, arial, sans-serif;
    color: rgb(73, 65, 65); 
    box-sizing: border-box;  
}

h1, h2, h3, h4, h5, h6, a, p, button {
    color: rgb(73, 65, 65);
}

h1 {
    font-size: 3.125rem;
    font-weight: bold;
    line-height: 4rem;
    padding: 10px 0;
}

h2 {
    font-size: 2.5rem;
    font-weight: normal;
    line-height: 3rem;
    padding: 10px 0;
}

h3 {
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 2rem;
    padding: 10px 0;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flex-container img {
    width: 100%;
    overflow: hidden;
}

button {
    background-color:  rgb(73, 65, 65);
    color: white;
    font-size: 1.5rem;
    padding: 8px 0;
    border: 0;
}

/* Header Desktop */

header {
    height: 64px;
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: white;
}

header .content {
    height: 100%;
}

header .mobile {
    display: none;
}

header .logo {
    flex: 1;
    margin-left: 24px;
    height: 32px;
    display: flex;
}

header .logo .text {
    text-transform: uppercase;
    font-size: 26px;
    padding-top:3px;
    transition: 1s all ease-in-out;
}

header .logo span {
    color:black;
    font-weight: bold;
    transition: 1s all ease-in-out;
}

header .logo span:hover {
    color: rgb(73, 65, 65);
    font-weight: normal;
}

header .logo .text:hover {
    color: black;
    font-weight: bold;
}

header nav {
    margin-right: 24px;
}

header nav a {
    padding-left: 16px;
    transition: 500ms all ease-in-out;
}

header nav a:hover {
    color: black;
    font-weight: bold;
}

/* Header Mobile */

@media only screen and (max-width: 800px) {

header .desktop {
    display: none;
}

header .mobile {
    display: flex;
    justify-content: space-between;
    height: 100%;
    flex: 1;
}

} 

/* Banner */

.banner {
    padding: 96px 24px 32px 24px;
    justify-content: flex-start;
    flex-wrap: nowrap;
    background-color: lightgrey;

}

.banner img {
    max-width: 60%;
    padding: 0 48px 0 0;
    flex: 1;
}

.banner .content {
    width: 40%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    
}

.banner .content h1, h2, button, .libs:
    flex: 1;


.banner button {
    width: 100%;
    transition: 300ms all ease-in-out;
}

.banner button:hover {
    background-color: white;
    color: rgb(73, 65, 65);
}

.banner .libs  {
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 2rem;
    padding: 10px 0;
}

.banner .libs label {
    font-size: 2rem;
}



