@import '../helpers/variables',
'../helpers/placeholders',
'../helpers/variables',
'../helpers/functions';

.boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
  grid-template-rows: (100px 40px 40px 40px 60px);
  justify-items: stretch;
  align-items: end;
  width: 600px;
  height: 300px;
  background: none;
  gap: 0 0 ;
}