@import '../helpers/variables';

html {
	background-color: $grayBlack;
	font-size: 16px;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

// body {
// 	font-family: $font-primary, $font-secondary;
// 	width: 100%;
// 	max-width: $bodyWidth;
// 	margin:0 auto;
// }

img {
	max-width: 100%;
	height: auto;
}

p {
	font-family: 'Raleway';
	font-size: 1rem;
	line-height: 1.5;
	margin-bottom: 2rem;
	margin-top: 2rem;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 1.5rem;
}



