/* colours */

$rem: 16px;
$articlePadding: 48px;

$bodyWidth: 1120px;

$grayBlack: #202020;
$lightBlue: #cfddf3;
$brownYellow: #ac885e;

$font-primary: 'montserratregular', Helvetica; 
$font-secondary: Verdana, sans-serif;

$breakpoint: 769px;